/*
Theme Name: foodsharing Bezirks Website
Theme URI: https://wordpress-style.fs-bezirk.de
Author: Christian Walgenbach
Author URI: 
Description: Dieses Theme wurde entwickelt, um foodsharing Bezirken eine einfache und einheitliche Installation zu ermöglichen.
Dies ist ein Fork von Theme WP Bootstrap Starter.
Version: 0.0.17
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: foodsharing-bezirks-website
Tags: food-and-drink, grid-layout, custom-logo, flexible-header, theme-options
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Colors
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility  
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Footer

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
:root {
    --fs-brown: #533a20;
    --fs-green: #64ae24;
    --fs-beige: #f1e7c9;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------
*//* alfa-slab-one-regular - latin */
@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/alfa-slab-one-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Alfa Slab One Regular'), local('AlfaSlabOne-Regular'),
       url('./fonts/alfa-slab-one-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/alfa-slab-one-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/alfa-slab-one-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/alfa-slab-one-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/alfa-slab-one-v8-latin-regular.svg#AlfaSlabOne') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/source-sans-pro-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('./fonts/source-sans-pro-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/source-sans-pro-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/source-sans-pro-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/source-sans-pro-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/source-sans-pro-v12-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}




h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
  margin-top: 24px;
  margin-bottom: 15px;
  color: var(--fs-brown);	
}

h1 {
  font-size: 1.7rem;
  padding-bottom: 10px;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 0.3em;
  line-height: 1.25;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
  line-height: 25px;
}

h4 {
  font-size: 1.2rem;
  line-height: 20px;
}

h5 {
  font-size: 1.1rem;
  line-height: 17.5px;
}

p {
  margin-bottom: 1.5em;
}

h1.entry-title {
  border-bottom: 1px solid #eaecef;
}
h2.entry-title {
  border-bottom: 1px solid #eaecef;
}
h3.widget-title {
  font-size: 1.4rem;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 10px;
  font-weight: bold;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
  background: #fff;
  font-size: 1.2rem;
  /* Fallback for when there is no custom background color defined. */
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# foodsharing Anpassungen
--------------------------------------------------------------*/
body{
  font-family: "Source Sans Pro";
  background-image: url(./img/fs-gabel-background.png);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
  background-position-y: 70%;
}

code {
  font-family: "Source Sans Pro";
  color: unset;
  font-size: 1.2em;
}

.subpageheader {
  display: none;
}

article,
aside,
details,
footer,
header,
main,
menu,
section,
summary {
  display: block;
  width: 100%;
}

nav,
figcaption,
figure {
  display: block;
}

a {
  color: var(--fs-brown);
  border-bottom: 1px dotted #000;
}

a:active,
a:hover {
  color: var(--fs-green);
  text-decoration: none;
}

header a, footer a, A#sponsor  { 
  border-bottom: none;
}

#main {
  padding-left: 12px;
  padding-right: 12px;
}

#main-nav ul {
  font-size:90%; 
  max-width: min-content;
  font-weight:  700;
  margin-top: 5px;
}

#secondary {
  margin-top: 7px;
}

.hidden {
  overflow: hidden;
}

#main-nav ul li ul { 
  padding: 0;
  margin: 0;
  font-size: 80%;
  background-color: var(--fs-beige);
  box-shadow: 5px 5px 10px;
}

#main-nav ul li ul li { 
  margin: 1rem; 
}

.fs-title-brown {
  color: var(--fs-brown);
  font-family: "Alfa Slab One";
  font-size: 1.5rem;
  font-weight: initial;
}

.fs-title-green {
  color: var(--fs-green);
}

.fs-title-bezirk {
  font-size: 1.2rem;
  line-height: 0.7;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
header#masthead {
  margin-bottom: 0;
  background-color: var(--fs-beige) ;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  padding: .74rem 1rem;
  width:auto;
}

.navbar img {
  max-height: 5.5em !important;
}

.navbar-brand > a {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.1rem;
  outline: medium none;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.navbar-brand > a:visited, .navbar-brand > a:hover {
  text-decoration: none;
}

#page-sub-header {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 0;
  text-align: center;
  font-size: 1.25rem;
  background-size: cover !important;
  background: var(--fs-brown) !important;
  background-image: url(img/IMGP5024_klein.jpg) !important;
  text-shadow: 3px 3px 5px#544A20;
}

body:not(.theme-preset-active) #page-sub-header h1 {
  line-height: 1.6;
  font-size: 4rem;
  color: var(--fs-beige);
  margin: 0 0 1rem;
  border: 0;
  padding: 0;
  font-family: "Alfa Slab One";
  font-weight: normal;
}

#page-sub-header p {
  margin-bottom: 0;
  line-height: 1.4;
  font-size: 1.7rem;
  color: #fff;
  padding: 5px;
}
body:not(.theme-preset-active) #page-sub-header p {
  color: var(--fs-beige);
  font-family: "Alfa Slab One";
}

a.page-scroller {
  color: #333;
  font-size: 2.6rem;
  display: inline-block;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  body:not(.theme-preset-active) #page-sub-header h1 {
    font-size: 3.750rem;
  }
  body:not(.theme-preset-active) #page-sub-header {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1700px){
  .navbar-expand-xl {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 992px) {
  #page-sub-header p {
    max-width: 43rem;
    margin: 0 auto;
  }
  #main {
    padding-left: 29px;
  }
}

@media (min-width: 425px) {
  .bottomMenu ul {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}
 
@media (min-width: 1200px) {
  .navbar-expand-xl {
    justify-content: space-between;
  }

  .navbar-expand-xl .navbar-collapse {
    margin-left: 50px;
  }

  #main-nav ul {
    margin-left: auto;
  }
}

@media (min-width: 1400px) {
  #content > .container {
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl {
    justify-content: space-between;
  }

  .navbar-expand-xl .navbar-collapse {
    margin-left: 50px;
  }

  #main-nav ul {
    margin-left: auto;
  }
}

@media (min-width: 1400px) {
  #content > .container {
    padding-left: 0;
  }
}
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#masthead nav {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a {
  padding: 0.5rem;
  color: var(--fs-brown);
  font-weight: bold;
  font-size: 1.2em;
  white-space: nowrap;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a:hover {
  color: var(--fs-beige);
  font-weight: 600;
  background: var(--fs-green);
  border-radius: 10px;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li.current_page_item > a {

}

.navbar-brand {
  height: auto;
}


.navbar-toggle .icon-bar {
  background: #000 none repeat scroll 0 0;
}

.dropdown-menu .dropdown-toggle::after {
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
  border-top: 0.3em solid transparent;
}

.bottomMenu ul {
    list-style-type: none;
    color: var(--fs-brown);
    font-size: 17px;
    font-weight: bold;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
}

.menu-item {
    float: none;
}

.bottomMenu .menu-item {
  float: none;
  display: inline-block;
  padding: 0 0.5rem 0 0.5rem;
}

.bottomMenu .menu-item:hover {
  color: var(--fs-beige);
  font-weight: 600;
  background: var(--fs-green);
  border-radius: 10px;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.dropdown-item {
  line-height: 1.2;
  padding-bottom: 0.313rem;
  padding-top: 0.313rem;
  margin-right:10px;
  display: inline;
}

.dropdown-menu {
  min-width: 12.500rem;
}

.dropdown-menu .dropdown-item {
  white-space: normal;
  background: transparent;
  line-height: 1.5rem;
  font-size: 1.2rem;
  width: -moz-max-content;
  width: max-content;
}

.dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: var(--fs-green);
}

.dropdown-menu li a {
  padding: 0;
  }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .dropdown-menu li > .dropdown-menu {
    right: -9.875rem;
    top: 1.375rem;
  }
}

@media screen and (max-width: 991px) {
  .navbar-nav .dropdown-menu {
    border: medium none;
    margin-left: 1.250rem;
    padding: 0;
    }
  
  .row {
    display: contents;
      } 

  body {
    background-position-y: 45%;
    background-size: 25%;
    }
  

  .dropdown-menu li a {
    padding: 0;
    }

  #masthead .navbar-nav > li > a {
    padding-bottom: 0.625rem;
    padding-top: 0.313rem;
    }

  .navbar-light .navbar-toggler {
    border: medium none;
    outline: none;
    }
}

@media screen and (max-width: 414px) {
  body {
    background-position-y: 47%;
    background-size: 35%;
    }
}

@media screen and (max-width: 320px) {
  body {
    background-position-y: 45%;
    background-size: 55%;
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
.comment-content.card-block {
  padding: 20px;
}

.navigation.post-navigation {
  padding-top: 1.875rem;
}

.post-navigation .nav-previous a,
.post-navigation .nav-next a {
  border: 1px solid #ddd;
  border-radius: 0.938rem;
  display: inline-block;
  padding: 0.313rem 0.875rem;
  text-decoration: none;
}

.post-navigation .nav-next a::after {
  content: " \2192";
}

.post-navigation .nav-previous a::before {
  content: "\2190 ";
}

.post-navigation .nav-previous a:hover,
.post-navigation .nav-next a:hover {
  background: #eee none repeat scroll 0 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 0.313rem;
  line-height: normal;
  padding: 0.938rem 1.438rem 0.875rem;
  text-decoration: none;
  top: 0.313rem;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a img.alignright {
  float: right;
  margin: 0.313rem 0 1.25rem 1.25rem;
}

a img.alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

a img.alignleft {
  float: left;
  margin: 0.313rem 1.25rem 1.25rem 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption.alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

.wp-caption.alignleft {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

.wp-caption.alignright {
  margin: 0.313rem 0 1.25rem 1.25rem;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  font-size: 0.875rem;
  /* Make sure select elements fit in widgets. */
}
.widget select {
  max-width: 100%;
}

.widget_search .search-form input[type="submit"] {
  display: none;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #eee;
  text-decoration: none;
}
.half-rule {
  width: 6rem;
  margin: 2.5rem 0;
}
.widget_categories .nav-link {
  display: inline-block;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

#content.site-content {
  padding-bottom: 3.75rem;
  padding-top: 4.125rem;
  min-height: calc(80vh);
}

.sticky .entry-title::before {
  content: '\f08d';
  font-family: "Font Awesome\ 5 Free";
  font-size: 1.563rem;
  left: -2.5rem;
  position: absolute;
  top: 0.375rem;
  font-weight: 900;
}

.sticky .entry-title {
  position: relative;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.page-template-blank-page .entry-content,
.blank-page-with-container .entry-content {
  margin-top: 0;
}

.post.hentry {
  margin-bottom: 4rem;
}

.posted-on, .byline, .comments-link {
  color: #9a9a9a;
}

.entry-title > a {
  color: inherit;
}

.container {
  max-width: 1400px;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comment-body .pull-left {
  padding-right: 0.625rem;
}

.comment-list .comment {
  display: block;
}

.comment-list {
  padding-left: 0;
}

.comments-title {
  font-size: 1.125rem;
}

.comment-list .pingback {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.563rem 0;
}

.comment-list .pingback:first-child {
  border: medium none;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  background: #f1f1f1 none repeat scroll 0 0;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 0.313rem 0.313rem 0;
  text-align: center;
}
.wp-caption img[class*="wp-image-"] {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto;
}
.wp-caption .wp-caption-text {
  font-size: 0.688rem;
  line-height: 1.063rem;
  margin: 0;
  padding: 0.625rem;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-item .gallery-columns-2 {
  max-width: 50%;
}
.gallery-item .gallery-columns-3 {
  max-width: 33.33333%;
}
.gallery-item .gallery-columns-4 {
  max-width: 25%;
}
.gallery-item .gallery-columns-5 {
  max-width: 20%;
}
.gallery-item .gallery-columns-6 {
  max-width: 16.66667%;
}
.gallery-item .gallery-columns-7 {
  max-width: 14.28571%;
}
.gallery-item .gallery-columns-8 {
  max-width: 12.5%;
}
.gallery-item .gallery-columns-9 {
  max-width: 11.11111%;
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer#colophon {
  font-size: 85%;
}
body:not(.theme-preset-active) footer#colophon {
  color: #99979c;
  background-color: var(--fs-beige);
  width: auto;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer-widget {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.navbar-dark .site-info {
  color: #fff;
}
.copyright {
  font-size: 0.875rem;
  margin-bottom: 0;
  text-align: center;
}

.copyright a, footer#colophon a {
  color: inherit;
}

@media screen and (max-width: 767px) {
  #masthead .navbar-nav > li > a {
    padding-bottom: 0.938rem;
    padding-top: 0.938rem;
  }
}
/*--------------------------------------------------------------
# Media Query
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Notebook
--------------------------------------------------------------*/
@media only screen and (max-width: 1280px) {
  html {
    font-size: 95%;
  }
}

@media screen and (max-width: 1199px) {
  .navbar-dark .dropdown-item {
    color: #fff;
  }
  .navbar-nav .dropdown-menu {
    background: transparent;
    box-shadow: none !important;
  }

  .dropdown-menu .dropdown-item
  {
    padding: 0.5rem
  }

  #main-nav ul {
    max-width: initial;
  }
}
/*--------------------------------------------------------------
## Netbook
--------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}
/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 960px) {
  html {
    font-size: 85%;
  }


}
/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }

  .row {
    display: contents;
  }

  body:not(.theme-preset-active) #page-sub-header h1 {
    font-size: 3rem;
  }
}
/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  html {
    font-size: 75%;
  }
}

/*--------------------------------------------------------------
## Smartphone
--------------------------------------------------------------*/
@media only screen and (max-width: 350px) {
  html {
    font-size: 75%;
    
    }
    .row {
      display: contents;
    }

    body:not(.theme-preset-active) #page-sub-header h1 {
      font-size: 3rem;
  }
}


/* Wordpress Blocks and Wordpress Buttons*/

.wp-block-button__link, .wp-block-file__button, .btn-primary {
  background-color: var(--fs-brown);
  border-color: unset;
}

.btn-primary:hover {
  background-color: var(--fs-green);
  border-color: unset;
}

/* The Event Calendar (Tribe) */

.tribe-events-list-widget .tribe-event-title {
  line-height: initial;
}

ol.tribe-list-widget {
  margin:0;
  padding:0;
}

.tribe-events-list-widget .tribe-events-list-widget-events {
  padding: 0 !important;
}

.tribe-events-notices { 
  color:#000; 
  background-color:#eee; 
  border:1px solid #ccc;
}

.tribe-list-widget h4{
  font-size:1.5rem;
}
.tribe-list-widget {
  font-size:1rem;
}

.tribe-bar-disabled #tribe-bar-form label {
  font-size: 0.8rem;
}

.tribe-events-loop .tribe-events-event-meta {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.5;
}

.tribe-events-meta-group .tribe-events-single-section-title {
  font-size: 1.8em;
}

.single-tribe_events .tribe-events-event-meta dl {
  font-size: 1.4em;
}

#tribe-events .tribe-events-button, .tribe-events-button {
  background-color: var(--fs-brown) !important;
}

#tribe-events .tribe-events-button:hover {
  background-color: var(--fs-green);
  color: #fff;
}

.wp-block-embed__wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
}

.wp-embed-aspect-16-9 .wp-block-embed__wrapper {
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.wp-embed-aspect-4-3 .wp-block-embed__wrapper {
  padding-top: 75%; /* 4:3 Aspect Ratio */
}

.wp-block-embed__wrapper iframe,
.wp-block-embed__wrapper object,
.wp-block-embed__wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
